.imagens{
    display: flex;
    width: max-content;
    height: 100%;
   

    
   
    
    border: solid 2px blue;
    & div{
        min-width: 700px;

    }
  

    & .color-white{
        
        display: flex;
        align-items: center;
        background-color:hsl(238, 100%, 94%)};
        
       


        border: solid 2px red;
        overflow: hidden;
       

    & .green{
        border: solid 2px black;
      
    
     
        align-items: center;
     
        
        
        
        
     
      
    };
    & .color-blue{
      
        background-color: #FFC0BC;
        border: solid 2px blue;
        
      
        align-items: center;
      
    };
    & .color-red{
        background-color: #DEC699;
    
     
    }
    }

  .imagem-card{
    display: flex;
    align-items: center;
    justify-content: center;
    &  .direita {
        transform: translateX(-100%);
      }
    &  .esquerda {
        transform: translateX(0%);
      }
   
   
  } 
 
     
     
      
   
