@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial;
  box-sizing: border-box;
}
:root {
  --text-color: #474747;
  --backGr-1: #ffffff;
  --backGr-2: #f5f5f5;
  --theme-color: #c92071;
  --hover-theme-color: #e43c8d;
  --footer-backgroud-color: #1f1f1f;
  --subtitle-text-color: #F6AA1C;
  --light-gray-color: #CCCCCC;
  --promoBackGr-color:#E7FF86;
  --cardPromoBackGr-color:#D8E3F2;

}

