@import url("../../index.css");
.navegation {
  width: 85%;
  height: 30%;
  display: flex;
  flex-wrap: wrap row;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  gap: 30px;
}
.navegation li {
  list-style-type: none;
}
.navegation {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: 1px;
  height: 100%;
}
.link {
  text-decoration: none;
  color: var(--theme-color);
}
.navegation .link:hover,
.navegation .link:active {
  color: var(--theme-color);
  border-radius: 2px;
  border-bottom: 2px solid var(--theme-color);
}
